.card-style{
    width:"350px";
    padding:"5px";
}

#center{
    margin:auto;

}

.card-group-style{
    display: flex;
    text-align: "center";
    justify-content:"center"; 
    flex-direction:"row"
}

.pagination-style{
    text-align: center;
}